body {
  display: flex;
  justify-content: center;
  margin: 0;
  background: #eeeeee;
  font-family: sans-serif;
  user-select: none;
}

main {
  border: solid 1px;
}

div {
  border: solid 1px;
}

[v-cloak] {
  display: none;
}

.panel {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.section {
  display: flex;
  flex-flow: row wrap;
  width: 100px;
}

#input .row, #input .section {
  align-items: center;
  justify-content: center;
}

#input .section {
  flex-direction: column;
}

.label {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.seat {
  display: flex;
  width: 50px;
  height: 50px;
  border: 0;
  align-items: center;
  justify-content: center;
}

.green {
  color: green;
}

#generation-controls {
  flex-direction: column;
}

#generation-controls > div {
  border-style: none;
}

#generation-controls input {
  width: 50px;
}

#generation-controls button {
  font-size: 16px;
  background-color: yellow;
  border-radius: 5px;
}
